/* You can add global styles to this file, and also import other style files */


.err {
    color: red;
    font-size: 12px;
    margin-left: 15px;
    font-weight: 300;
}

body {
    background-color: #f8f8f86b !important;
}
