.nav-link.active {
    color: #fff !important;
    background-color: #e27b2d;
    background-image: linear-gradient(180deg,#e27b2d 10%,#e0721e 100%);
    font-weight: 600;
    border-bottom: 3px solid;
}
