<div id="wrapper">
   <app-admin-sidebar></app-admin-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-dashboard-header></app-dashboard-header>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <router-outlet></router-outlet>
            <!-- End of Main Content -->
            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
   

</div>